@import url("//fonts.googleapis.com/css?family=Open Sans:regular,700,italic");
@import url("//fonts.googleapis.com/css?family=Fjalla One:regular");
@import url("//fonts.googleapis.com/css?family=Unica One:regular");
@import url("//fonts.googleapis.com/css?family=Coda:regular");
@import url("//fonts.googleapis.com/css?family=Playball:regular");
@import url("//fonts.googleapis.com/css?family=Squada One:regular");
@import url("//fonts.googleapis.com/css?family=Nova Square:regular");
@import url("//fonts.googleapis.com/css?family=Fjord One:regular");
@import url("//fonts.googleapis.com/css?family=Risque:regular");
@import url("//fonts.googleapis.com/css?family=Roboto Condensed:regular,700,italic");
@import url("//fonts.googleapis.com/css?family=Lato:regular,700,italic");
@import url("//fonts.googleapis.com/css?family=Oswald:regular,700");
@import url("//fonts.googleapis.com/css?family=Source Sans Pro:regular,700,italic");
@import url("//fonts.googleapis.com/css?family=Nunito:regular,700,italic");
@import url("//fonts.googleapis.com/css?family=Nunito Sans:regular,700,italic");
@import url("//fonts.googleapis.com/css?family=Noto Sans:regular,700,italic");
@import url("//fonts.googleapis.com/css?family=Ubuntu Condensed:regular");
body{font-family: Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;}
